

<style type="text/css">
	
/*h2 {
    font-size: 1.5em;
    margin: 20px;
    padding-left: 50%;
}*/
.required:after { content:" *"; }
</style>

<title>Dropshipping Robo</title>
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>


<div class="container">
	<h2 align="center"><b> Dropshipping Robo</b></h2>
	<form action="" method="post" role="form">
		{{ form.csrf }}
		<div class="form-group">
			<label for="name">UserName:</label>
			<font color="red">  *</font>

			<input type="text" class="form-control" id="name" name="name" placeholder="Enter Username" required >

			<label for="date">Select Time Perion:</label>
			<select  required name="date" for="date" class="form-control">
				<option  value="2">2 day</option>
				<option  value="30">1 Month</option>
				<option  value="93">3 Month</option>
				<option  value="275">9 Month</option>
				<option  value="360">1 Year</option>
			</select>

			<label for="lowest_price">Lowest Price:</label>
			<input type="int" class="form-control" id="lowest_price" name="lowest_price" placeholder="any Number" value=1>
			<label for="highest_price">Highest Price:</label>
			<input type="int" class="form-control" id="highest_price" name="highest_price" placeholder="any Number" value=100>


			<label for="store">Store</label><br>
			<input type="radio" name="store" value="walmart" checked> Walmart<br>
			<input type="radio" name="store" value="home_depot"> Home Depot<br>

			<label for="more_then"><b>Sold More Then and equal to:</b></label>
			<input type="int" class="form-control" id="more_then" name="more_then" value=5 >



			

		</div>
		<button type="reset" value="Reset" class="btn btn-danger">Reset</button>
		<button type="submit" class="btn btn-success">
			Scrap Data!
		</button>
	</form>{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}

	{% for message in messages %}
	message
	{% if "Error" not in message[1]: %}
	<div class="alert alert-info">
		<strong>Success! </strong> {{ message[1] }}</div>
		{% endif %}

		{% if "Error" in message[1]: %}
		<div class="alert alert-danger">
		{{ message[1] }}</div>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endwith %}

	</div>



<!-- 
	Add font awesome icons to buttons (note that the fa-spin class rotates the icon)
	<button class="buttonload">
		<i class="fa fa-spinner fa-spin"></i>Loading
	</button> -->
